/*Gives all elements a margin of zero by default*/
*{
    margin: 0;
}
/*Style the paragraph elements*/
p{
    font-family: Roboto;
    font-size: 17px;
}

.about_me_header {
    font-size: 31px;
}
/*Style "App 1", "App 2" and "App 3"*/
.apptitles{
    text-align: center;
    font-family: Cabin Sketch;
    color: navy;
    font-size: 60px;
}
/*Places the Alaska image where I want it on the page, using flexbox commands*/
.image_position{
    vertical-align: middle;
}
/*Initializes the background to be black but then proceeds with animation to change that*/
body {
    background: black;
    -webkit-animation: backgroundFade 9.5s forwards 5.5s;
            animation: backgroundFade 9.5s forwards 5.5s;
}
/*I calculated the precise percentages at which key frames should be reached in order to coordinate the
changing colours and texts appearing*/
@-webkit-keyframes backgroundFade {
    0% {background: black}
    10.526% {background: red}
    68.421% {background: red}
    100% {background: #eee/*#90b9f9*/}
}

@keyframes backgroundFade {
    0% {background: black}
    10.526% {background: red}
    68.421% {background: red}
    100% {background: #eee/*#90b9f9*/}
}

table tr{
    border: 1px solid;
    vertical-align: top;
}

/*This sets the width of the wrapper class, which defines how much of the screen's width will be displayed content*/
.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


/*The following blocks style the navbar*/
nav {
    background: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    font-family: Roboto;
    font-size: 17px;
}

nav a{
    text-decoration: none;
    text-align: center;
    color: #fff;
    display: block;
    border-radius: 20%;
    padding: 10px;
}

nav  a:hover{
    background-color: #555;
}
/*Styling the social media icon links in the navbar*/
a.twitter{
    background: url(../img/tw.png) no-repeat center;
    background-size: 80%;
}

a.facebook{
    background: url(../img/fb.png) no-repeat center;
    background-size: 80%;
}

.social a{
    text-indent: -10000px;
}

nav ul.social{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

nav ul.social li{
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
            flex: 1 1 0;
}

.social {
    max-width: 80px;
    margin: 0 auto;
}

.subtitle{
    margin: 20px;
    padding: 20px;
    background: #ccc;
    text-align: center;
    font-size: 60px;
    box-shadow: 6px 6px 3px #888888;
    font-family: Raleway;
    font-weight: bold;
}

.imptext {
    color: blue;
    font-weight: bold
}
/*This styles the number "2016" in the About Me section. It needs to change from green to red*/
#specialred {
    color: #027220;
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards,
    changeColour 1s forwards 5.5s;
            animation: fadeIn 1s forwards,
    changeColour 1s forwards 5.5s;
}
/*This styles the text next to the number "2016" and changes it from black to red at the same time as above*/
#londonred {
    -webkit-animation: fadeIn 1s forwards 4.5s,
    blackToRed 1s forwards 5.5s,
    toBold 1s forwards 5.5s;
            animation: fadeIn 1s forwards 4.5s,
    blackToRed 1s forwards 5.5s,
    toBold 1s forwards 5.5s
}
/*These are the change-to-red text keyframes*/
@-webkit-keyframes toBold {
    0% {font-weight: normal}
    100% {font-weight: bold}
}

@keyframes toBold {
    0% {font-weight: normal}
    100% {font-weight: bold}
}

@-webkit-keyframes blackToRed {
    0% {color: black}
    100% {color:red}
}

@keyframes blackToRed {
    0% {color: black}
    100% {color:red}
}

@-webkit-keyframes changeColour {
    0% {color: green}
    100% {color: red}
}

@keyframes changeColour {
    0% {color: green}
    100% {color: red}
}

.green_bold{
    color: #027220;
    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards;
            animation: fadeIn 1s forwards;
}
/*I have lots of text fading in. This keyframe dictates that behaviour*/
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
/*Specifies how certain text should be bold and blue*/
.boldBlue {
    font-family: Roboto;
    opacity: 0;
    font-weight: bold;
    color: blue;
    -webkit-animation: fadeIn 1s forwards 6.5s;
            animation: fadeIn 1s forwards 6.5s;
}
/*These bb ID's specify how long each bb tagged element should wait before proceeding with its fade-in animation*/
#bb1 {
    -webkit-animation-delay: 6.5s;
            animation-delay: 6.5s
}

#bb2 {
    -webkit-animation-delay: 7s;
            animation-delay: 7s
}

#bb3 {
    -webkit-animation-delay: 7.5s;
            animation-delay: 7.5s
}

#bb4 {
    -webkit-animation-delay: 8s;
            animation-delay: 8s
}

#bb5 {
    -webkit-animation-delay: 8.5s;
            animation-delay: 8.5s
}

#bb6 {
    -webkit-animation-delay: 9s;
            animation-delay: 9s
}

#bb7 {
    -webkit-animation-delay: 9.5s;
            animation-delay: 9.5s
}

#bb8 {
    -webkit-animation-delay: 10s;
            animation-delay: 10s
}

#bb9 {
    -webkit-animation-delay: 10.5s;
            animation-delay: 10.5s
}

#bb10 {
    -webkit-animation-delay: 11s;
            animation-delay: 11s;
}
/*This secondList class also specifies when certain text should fade in to view*/
.secondList {
    font-family: Roboto;
    opacity: 0;
    -webkit-animation: fadeIn 3s forwards 12s;
            animation: fadeIn 3s forwards 12s;
}



/*This block controls paragraph elements inside the table*/
td p {
    opacity: 0;
    -webkit-animation: fadeIn 1s forwards;
            animation: fadeIn 1s forwards;
}
/*These numbered table elements specify when each element should fade in to view according to its class*/
.table1 {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}

.table2 {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
}

.table3 {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
}

.table4 {
    -webkit-animation-delay: 3.5s;
            animation-delay: 3.5s;
}

.table5 {
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
}

.blocks{
    margin: 20px;
}

article{
    background: #eee;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5%;
}

article h2 {
    text-align: center;
    font-size: 31px;
    margin: 10px 0;
    font-family: Playfair Display;
    color: maroon;
}
/*This block controls the grayscale and shape-shifting animations for the Alaska image*/
img {
    border-radius: 15%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    /*transition: 0.4s ease-in-out;*/
    -webkit-animation: grayIn 3s forwards 12s,
    borderRadJump 3s forwards 12s cubic-bezier(.14,1.82,.83,.93);
            animation: grayIn 3s forwards 12s,
    borderRadJump 3s forwards 12s cubic-bezier(.14,1.82,.83,.93);
    width: 100%;
    margin-bottom: 20px;
}
/*These are the keyframes for the shift in degree of grayscale*/
@-webkit-keyframes grayIn {
    0% {-webkit-filter: grayscale(100%);filter: grayscale(100%)}
    100% {-webkit-filter: grayscale(0%);filter: grayscale(0%)}
}

@keyframes grayIn {
    0% {-webkit-filter: grayscale(100%);filter: grayscale(100%)}
    100% {-webkit-filter: grayscale(0%);filter: grayscale(0%)}
}
/*These are the three-step keyframes that specify how the border radius of the Alaska image changes*/
@-webkit-keyframes borderRadJump {
    0% {border-radius: 15%}
    50% {border-radius: 50%;}
    100% {border-radius: 0}
}

@keyframes borderRadJump {
    0% {border-radius: 15%}
    50% {border-radius: 50%;}
    100% {border-radius: 0}
}


/*This media query specifies that the CSS blocks below it take over at the critical width of 982px*/
@media screen and (min-width: 982px){
/*These next CSS blocks mean that the navbar will display differently on mobile views*/
    nav ul{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    nav li{
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 0;
            -ms-flex: 1 1 0;
                flex: 1 1 0;
        font-family: Roboto;
    }

    nav {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    }

    .social{
        margin: 0;
    }


    .blocks{
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 20px;
    }

    #first{
    min-width: 480px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin-right: 20px;
    }

    #first ul {
        font-family: Roboto;
    }

    article{
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 32%;
            -ms-flex: 0 1 32%;
                flex: 0 1 32%;
        margin-bottom: 20px;
        box-sizing: border-box;
    }


    .article-sizing{
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 32%;
            -ms-flex: 0 1 32%;
                flex: 0 1 32%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

}

/*This is my flexbox container! It specifies how the elements contained within it shall be laid out on the page*/
.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
}
/*The "box" class and "one" class control the aesthetic box placed at the very bottom of my page*/
.box {
    height: 40px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 80px;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
}

.one {
    background: #333;
    -webkit-box-flex: 50;
    -webkit-flex-grow: 50;
        -ms-flex-positive: 50;
            flex-grow: 50
}